/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

/** #45
Client portal css 
*/

.wacp-favorite-film { cursor: pointer; display:inline-flex; align-items:center; color: black; transition: color .2s; }
.wacp-favorite-film:hover { color: var(--waff-action-1); }
.wacp-favorite-film.favorited { color: var(--waff-action-1); }
/* simple modal styles */
#wacp-login-modal { display:none; position:fixed; z-index:99999; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,0.5); align-items:center; justify-content:center; }
.wacp-modal-container { display:flex; align-items: center; justify-content: center; width:100%; height:100%; }
#wacp-login-modal .wacp-modal-box { background:#fff; max-width:600px; width:90%; padding:20px; border-radius:8px; box-shadow:0 6px 24px rgba(0,0,0,0.2); }
#wacp-login-modal .wacp-modal-close { float:right; cursor:pointer; font-weight:bold; }

#pagetitle .wacp-favorite-film { position: relative; top: -4px; margin-left: 12px; }
#pagetitle .wacp-favorite-film i { font-size:60% }

.film-card .wacp-favorite-film { position: relative; top: -3px; margin-left: 1px; }
.film-card .wacp-favorite-film i { font-size:80% }

#programmationModal .wacp-favorite-film, .programmation-list .wacp-favorite-film{ position: relative; top: -1px; margin-left: 1px; }

/**
SC loading spinning icon 
*/

.wacp-loading-spinner.spinner-border-sm {
    --bs-spinner-width: .8rem !important;
    --bs-spinner-height: .8rem !important;
    --bs-spinner-border-width: 0.1em !important;
}

.wacp-favorite-film.loading {
    pointer-events: none; /* Désactive les clics pendant le chargement */
    opacity: 0.7;
}

.wacp-loading-spinner {
    width: 1rem;
    height: 1rem;
    border-width: 0.15em;
}